# Python virtual environment
.venv/
venv/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model and dataset cache
.cache/
*.ckpt

# VS Code settings
.vscode/

# Environment variables and secrets
.env

# Results and logs
results/
logs/